@charset "UTF-8";
/* CSS Document */

/* My Color Palette
Color   1:   #0E72C7
Color   2:   #1DC785
Color   3:   #C7694D
*/

body  {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:lime;
	background-color:black;
}
#footer p  {
		text-align:	right;
		color:black;
}

/***********************************

      TRANSPRARENT BACKGROUND
	  
***********************************/

/***********************************

                BASIC STRUCTURE
				
***********************************/
#wrapper	{
	width: 960px;
	padding: 5px;
	margin: 20px auto;

}


#header {
	height: 100px;

}

#sidebar {
	float: left;
	width: 300px;

}

#content {
	float: right;
	width: 600px;
	
}

#footer  {
	clear: both;
	
}
/***********************************

           Colors and Front

***********************************/
body  {
	font-family:Segoe,  "Segoe UI",  "DejaVu Sans",  "Trebuchet MS";
	color:  black;
	/*background-color: #9FC;*/
	background-image: url("../images/star wars.gif")
	
}

#header, #sidebar, #content, #footer {
	background-color: rgba( 255, 255, 255, 0.8);
	margin-bottom: 4px;
	border: ridge;
	border-radius: 8px;
	border-color: grey;
	padding-left: 4px;
	padding-right:4px;
}
/***********************************

             REPONSIVE WIDTH
			 
***********************************/
@media screen and (max-width: 980px) {
	#wrapper {
	  width: 94%;	
	  
	}
	#content {
	  width:  65%;
	 
	}
#sidebar {
	width: 30%;

	}

}
	
@media screen and (max-width:  700px)  {
	#content, #sidebar {
		width: auto;
		float: none;
	}
	#header {
		height: auto;
	}
}






